parameters:
    disallowHelpersDependingOnBootedApplication: true
    disallowRegisteringServiceProvidersInBootMethodProvider: true
    disallowNonPureUnitTests: true

parameterSchema:
    disallowHelpersDependingOnBootedApplication: bool()
    disallowRegisteringServiceProvidersInBootMethodProvider: bool()
    disallowNonPureUnitTests: bool()

conditionalTags:
    PrinsFrank\LarastanArchitectureRules\Rules\NoHelperDependingOnBootedApplicationUsageRule:
        phpstan.rules.rule: %disallowHelpersDependingOnBootedApplication%
    PrinsFrank\LarastanArchitectureRules\Rules\NoRegisteredServicesInBootMethodProviderRule:
        phpstan.rules.rule: %disallowRegisteringServiceProvidersInBootMethodProvider%
    PrinsFrank\LarastanArchitectureRules\Rules\UnitTestsShouldExtendFromBasePHPUnitTestCase:
        phpstan.rules.rule: %disallowNonPureUnitTests%

rules:
    - PrinsFrank\LarastanArchitectureRules\Rules\NoHelperDependingOnBootedApplicationUsageRule
    - PrinsFrank\LarastanArchitectureRules\Rules\NoRegisteredServicesInBootMethodProviderRule
    - PrinsFrank\LarastanArchitectureRules\Rules\UnitTestsShouldExtendFromBasePHPUnitTestCase
